<h1>Settings Menu</h1>

<section>
  <h2>Your Blends:</h2>
  <table>
    <tr>
      <th>id</th>
      <th>Name</th>
      <th></th>
      <th></th>
    </tr>
    <% @blends.each do |blend| %>
    <tr>
      <td><%= blend.id %> </td>
      <td><%= blend.name %></td>
      <td><a href="#">Edit</a> </td>
      <td><a href="#">Delete</a></td>
    </tr>
    <% end %>
  </table>

  <section>
    <h1> Create New Blend</h1>
    <form class="" action="/settings/blend" method="post">
      <input id="blend_name" type="text" name="blend_name" required="required" placeholder="Blend Name.." >
      <input class="btn btn--submit" type="submit" name="" value="Create Blend!">
    </form>
  </section>


  <h2>Your Origins:</h2>
  <table>
    <tr>
      <th>id</th>
      <th>Name</th>
      <th></th>
      <th></th>
    </tr>
    <% @origins.each do |origin| %>
    <tr>
      <td><%= origin.id %> </td>
      <td><%= origin.name %></td>
      <td><a href="#">Edit</a> </td>
      <td><a href="#">Delete</a></td>
    </tr>
    <% end %>
  </table>

  <section>
    <h1> Create New Origin</h1>
    <form class="" action="/settings/origin" method="post">
      <input id="origin_name" type="text" name="origin_name" required="required" placeholder="Origin Name.." >
      <input class="btn btn--submit" type="submit" name="" value="Create Origin!">
    </form>
  </section>


  <h2>Your Roasts:</h2>
  <table>
    <tr>
      <th>id</th>
      <th>Name</th>
      <th></th>
      <th></th>
    </tr>
    <% @roasts.each do |roast| %>
    <tr>
      <td><%= roast.id %> </td>
      <td><%= roast.name %></td>
      <td><a href="#">Edit</a> </td>
      <td><a href="#">Delete</a></td>
    </tr>
    <% end %>
  </table>

  <section>
    <h1> Create New Roast</h1>
    <form class="" action="/settings/roast" method="post">
      <input id="roast_name" type="text" name="roast_name" required="required" placeholder="Roast Name.." >
      <input class="btn btn--submit" type="submit" name="" value="Create Roast!">
    </form>
  </section>


  <h2>Your types:</h2>
  <table>
    <tr>
      <th>id</th>
      <th>Name</th>
      <th></th>
      <th></th>
    </tr>
    <% @types.each do |type| %>
    <tr>
      <td><%= type.id %> </td>
      <td><%= type.name %></td>
      <td><a href="#">Edit</a> </td>
      <td><a href="#">Delete</a></td>
    </tr>
    <% end %>
  </table>

  <section>
    <h1> Create New Type</h1>
    <form class="" action="/settings/type" method="post">
      <input id="type_name" type="text" name="type_name" required="required" placeholder="Type Name.." >
      <input class="btn btn--submit" type="submit" name="" value="Create Type!">
    </form>
  </section>

</section>
