<h1>Settings Menu</h1>

<section>
  <h2>Your Blends:</h2>
  <table>
    <tr>
      <th>id</th>
      <th>Name</th>
      <th></th>
      <th></th>
    </tr>
    <% @blends.each do |blend| %>
    <tr>
      <td><%= blend.id %> </td>
      <td><%= blend.name %></td>
      <td><a href="#">Edit</a> </td>
      <td><a href="#">Delete</a></td>
    </tr>
    <% end %>
  </table>
    <a href="blend/new">Add New Blend!</a>

  <h2>Your Origins:</h2>
  <table>
    <tr>
      <th>id</th>
      <th>Name</th>
      <th></th>
      <th></th>
    </tr>
    <% @origins.each do |origin| %>
    <tr>
      <td><%= origin.id %> </td>
      <td><%= origin.name %></td>
      <td><a href="#">Edit</a> </td>
      <td><a href="#">Delete</a></td>
    </tr>
    <% end %>
  </table>
    <a href="origin/new">Add New origin!</a>

  <h2>Your Roasts:</h2>
  <table>
    <tr>
      <th>id</th>
      <th>Name</th>
      <th></th>
      <th></th>
    </tr>
    <% @roasts.each do |roast| %>
    <tr>
      <td><%= roast.id %> </td>
      <td><%= roast.name %></td>
      <td><a href="#">Edit</a> </td>
      <td><a href="#">Delete</a></td>
    </tr>
    <% end %>
  </table>
    <a href="origin/new">Add New roast!</a>

  <h2>Your types:</h2>
  <table>
    <tr>
      <th>id</th>
      <th>Name</th>
      <th></th>
      <th></th>
    </tr>
    <% @types.each do |type| %>
    <tr>
      <td><%= type.id %> </td>
      <td><%= type.name %></td>
      <td><a href="#">Edit</a> </td>
      <td><a href="#">Delete</a></td>
    </tr>
    <% end %>
  </table>
    <a href="origin/new">Add New type!</a>
</section>











  <label for="blend_select">Blends:</label>
  <select name="blend_id" id="blend_select">
    <% @blends.each do |blend| %>
        <option value=<%= blend.id %>><%= blend.name %></option>
    <% end %>
  </select> <a href="blend/new">Add New Blend!</a>
  <br>

  <label for="origin_select">Origins:</label>
  <select name="origin_id" id="origin_select">
    <% @origins.each do |origin| %>
        <option value=<%= origin.id %>><%= origin.name %></option>
    <% end %>
  </select> <a href="origin/new">Add New Origin!</a>
  <br>

  <label for="roast_select">Roasts:</label>
  <select name="roast_id" id="roast_select">
    <% @roasts.each do |roast| %>
        <option value=<%= roast.id %>><%= roast.name %></option>
    <% end %>
  </select> <a href="roast/new">Add New Roast!</a>
  <br>

  <label for="type_select">Types:</label>
  <select name="type_id" id="type_select">
    <% @types.each do |type| %>
        <option value=<%= type.id %>><%= type.name %></option>
    <% end %>
  </select> <a href="type/new">Add New Type!</a>
  <br>
