<h1>Welcome to the Coffee Ordering and Finance Flexibility Enhancement Environment</h2>

<h2>The following products are low on stock:</h2>

<table>
  <tr>
    <th>Id</th>
    <th>Name</th>
    <th>Producer</th>
    <th>Units in Stock</th>
    <th>Optimal Stock</th>
  </tr>
  <% @products.each do |product| %>
    <% if product.low_stock? || product.in_stock? == false %>
      <tr>
        <td><%= product.id %></td>
        <td><a href="/products/<%= product.id %>"><%= product.name %></a></td>
        <td><a href="/producers/<%= product.producer_id %>"><%= product.producer %></a></td>

        <!-- Conditional Rendering of Units in Stock -->

          <% if product.in_stock? == false  %>
            <td id="stock_empty"><%= product.units_in_stock %></td>
          <% elsif product.low_stock? == true %>
            <td id="stock_low"><%= product.units_in_stock %></td>
          <% else %>
            <td><%= product.units_in_stock %></td>
          <% end %>

        <!-- End Conditional Formatting -->

        <td><%= product.optimal_stock %></td>
      </tr>
    <% end %>
  <% end %>
</table>

<img src="/images/parrot.gif" alt="Parrot enjoying a coffee">
