<h1>Producer Details</h1>

<section class="details-box">

<p>Id: <%= @producer.id %></p>
<p>Name : <%= @producer.name %></p>
<p>Address : <%= @producer.address %></p>

</section>


<section class="details-box">

<h2> Producer's products: </h2>
<ul>
  <% @producer.product_list.each do |product| %>
    <li><a href="products/<%=product.id%>"><%= product.name %></a></li>
  <%end%>
</ul>


</section>

<section class="details-box">
<h2>Actions:</h2>
<p><a href="/producers/<%=@producer.id%>/edit"><i class="fas fa-pencil-alt"></i>Edit</a></p>
<p><a href="/producers/<%=@producer.id%>/delete"><i class="fas fa-trash-alt"></i>Delete</a></p>
</section>
