<h1>Producer Details</h1>

<p>Id: <%= @producer.id %></p>
<p>Name : <%= @producer.name %></p>
<p>Address : <%= @producer.address %></p>
<a href="/producers/<%=@producer.id%>/edit">Edit</a>
<a href="/producers/<%=@producer.id%>/delete">Delete</a>
