<h1>Producer Details</h1>

<section id="producer-details">

<p>Id: <%= @producer.id %></p>
<p>Name : <%= @producer.name %></p>
<p>Address : <%= @producer.address %></p>
<a href="/producers/<%=@producer.id%>/edit">Edit</a>
<a href="/producers/<%=@producer.id%>/delete">Delete</a>

</section>


<section id="producers-products">

<h2> Producer's products: </h2>



</section>
