<h1>Producer Details</h1>

<section id="producer-details">

<p>Id: <%= @producer.id %></p>
<p>Name : <%= @producer.name %></p>
<p>Address : <%= @producer.address %></p>
<a href="/producers/<%=@producer.id%>/edit"><i class="fas fa-pencil-alt"></i>Edit</a>
<a href="/producers/<%=@producer.id%>/delete"><i class="fas fa-trash-alt"></i>Delete</a>

</section>


<section id="producers-products">

<h2> Producer's products: </h2>

<% @producer.product_list.each do |product| %>

<a href="products/<%=product.id%>"><%= product.name %></a>
<br>

<%end%>

</section>
