<h1>Edit Stock Item Id: <%=@stock_item.id%>, Product: <%=@stock_item.product_name%></h1>

<form class="" action="/stock_items/<%= @stock_item.id %>" method="post">

  <label for="units-in-stock"> Units in Stock: </label>
  <input id="units-in-stock" type="number" name="units_in_stock" value="<%=@stock_item.units_in_stock%>">
  <br>

  <label for="optimal-stock"> Optimal Stock: </label>
  <input id="optimal-stock" type="number" name="optimal_stock" value="<%=@stock_item.optimal_stock%>">
  <br>

  <input type="submit" name="" value="Confirm">

</form>
