<h1>Stock Item Details: Stock Id: <%= @stock_item.id%> - <%=@stock_item.product_name%></h1>

<p>
Stock Id: <%= @stock_item.id %>
<br>
Product Name: <%= @stock_item.product %>
<br>
Producer: <a href="/producers/<%= @stock_item.producer_id %>"><%= @stock_item.producer %></a>
<br>


<a href="/products/<%= @stock_item.id %>/edit">Edit</a>
<a href="/products/<%= @stock_item.id %>/delete">Delete</a>
