<h1>All Products</h1>

<a href="products/new"> <i class="fas fa-coffee"></i> Add Product</a>

<table>
  <tr>
    <th>Id</th>
    <th>Name</th>
    <th>Producer</th>
    <th>Weight (g)</th>
    <th>Unit Cost (£)</th>
    <th>Sell Price (£)</th>
    <th>Markup (£)</th>
    <th>Markup (%)</th>
    <th>Units in Stock</th>
    <th>Optimal Stock</th>
    <th>Stock Buy Value (£)</th>
    <th>Stock Sell Value (£)</th>
    <th>Profit (£)</th>
  </tr>
  <% @products.each do |product| %>
  <tr>
    <td><%= product.id %></td>
    <td><a href="/products/<%= product.id %>"><%= product.name %></a></td>
    <td><a href="/producers/<%= product.producer_id %>"><%= product.producer %></a></td>
    <td><%= product.weight %></td>
    <td><%= product.unit_cost %></td>
    <td><%= product.sell_price %></td>
    <td><%= product.markup %></td>
    <td><%= product.markup_percentage%></td>

    <!-- Conditional Rendering of Units in Stock -->

      <% if product.in_stock? == false  %>
        <td id="stock_empty"><%= product.units_in_stock %></td>
      <% elsif product.low_stock? == true %>
        <td id="stock_low"><%= product.units_in_stock %></td>
      <% else %>
        <td><%= product.units_in_stock %></td>
      <% end %>

    <!-- End Conditional Formatting -->

    <td><%= product.optimal_stock %></td>
    <td><%= product.stock_buy_value %></td>
    <td><%= product.stock_sell_value %></td>
    <td><%= product.profit%></td>
  </tr>
  <% end %>
</table>
