<h1>All Products</h1>

<a href="products/new">Add Product</a>

<table>
  <tr>
    <th>Id</th>
    <th>|</th>
    <th>Name</th>
    <th>|</th>
    <th>Producer</th>
  </tr>
  <% @products.each do |product| %>
  <tr>
    <td><%= product.id %></td>
    <td>|</td>
    <td><a href="/products/<%= product.id %>"><%= product.name %></a></td>
    <td>|</td>
    <td><a href="/producers/<%= product.producer_id %>"><%= product.producer %></a></td>
  </tr>
  <% end %>
</table>
