<h1>Product Details: <%= @product.name%></h1>

<section class="details-box">

<h2>Coffee Details</h2>

<p>
Id: <%= @product.id %>
<br>
Name: <%= @product.name %>
<br>
Producer: <a href="/producers/<%= @product.producer_id %>"><%= @product.producer %></a>
<br>
Origin: <%= @product.origin %>
<br>
Roast: <%= @product.roast %>
<br>
Blend: <%= @product.blend %>
<br>
Type: <%= @product.type %>
<br>
Weight: <%= @product.weight %>
<br>
</section>


<section class="details-box">

<h2>Pricing/Stock Details</h2>

Unit Cost: <%= @product.unit_cost %>
<br>
Sell Price: <%= @product.sell_price %>
<br>
Markup: <%= @product.markup %>
<br>
Markup Percentage: <%= @product.markup_percentage %>
<br>
Units in Stock: <%= @product.units_in_stock %>
<br>
Optimal Stock: <%= @product.optimal_stock %>
<br>
Stock Buy Value: <%= @product.stock_buy_value %>
<br>
Stock Sell Value: <%= @product.stock_sell_value %>
<br>
Profit: <%= @product.profit%>
</p>
</section>


<h2>Actions:</h2>
<a href="/products/<%= @product.id %>/edit"><i class="fas fa-pencil-alt"></i>Edit</a>
<a href="/products/<%= @product.id %>/delete"><i class="fas fa-trash-alt"></i>Delete</a>
