<h1>Product Details: <%= @product.name%></h1>


<p>
Id: <%= @product.id %>
<br>
Name: <%= @product.name %>
<br>
Producer: <a href="/producers/<%= @product.producer_id %>"><%= @product.producer %></a>
<br>
Origin: <%= @product.origin %>
<br>
Roast: <%= @product.roast %>
<br>
Blend: <%= @product.blend %>
<br>
Type: <%= @product.type %>
<br>
Weight: <%= @product.weight %>
<br>
Unit Cost: <%= @product.unit_cost %>
<br>
Sell Price: <%= @product.sell_price %>
<br>
Markup: <%= @product.markup %>
<br>
Markup Percentage: <%= @product.markup_percentage %>
</p>

<a href="/products/<%= @product.id %>/edit">Edit</a>
<a href="/products/<%= @product.id %>/delete">Delete</a>
